 @media (min-width: 1200px) {}
 @media (min-width: 992px) and (max-width: 1199.98px) {}
 /*============medium device=================*/
 
 @media (min-width: 768px) and (max-width: 991.98px) {
     header {
         background: rgba(226, 62, 56, 0.7);
         top: 20px;
     }
     header .navbar-brand {
         padding: 6px 20px !important;
         top: -6px;
     }
     .menu_fix {
         position: fixed;
         top: 15px;
     }
     .menu_fix .navbar-brand {
         padding: 6px 20px !important;
         top: -6px;
     }
     .navbar-toggler {
         padding: 10px 0;
     }
     button:focus {
         outline: 0;
     }
     .navbar-toggler i {
         color: #fff;
         border: 1px solid #fff;
         border-radius: 5px;
         padding: 5px 10px;
     }
     header .navbar-nav .nav-item .nav-link {
         padding: 10px 0;
     }
     /*=========banner part=========*/
     .banner_item {
         padding: 200px 0 100px;
     }
     .banner_text h1 {
         padding-top: 10px;
     }
     .banner_text h1:before {
         display: none;
     }
     .banner_text h1:after {
         display: none;
     }
     .banner_text h3:before {
         display: none;
     }
     .banner_text h3:after {
         display: none;
     }
     .banner_text p {
         padding: 10px 120px;
     }
     .banner_text p:before {
         display: none;
     }
     .banner_text p:after {
         display: none;
     }
     .banner_text a {
         margin: 5px;
     }
     /*======about par=====*/
     #about_part {
         padding: 55px 0;
     }
     .about_right .p2 {
         padding-top: 15px;
         padding-bottom: 15px;
     }
     /*========gallery part========*/
     .gallery_item {
         padding-bottom: 0;
     }
     .gal_img2 {
         padding-bottom: 30px;
     }
     /*=====team part==========*/
     #team_part {
         padding: 55px 0 0;
     }
     .team_head {
         padding-bottom: 10px;
     }
     /*=======testimonial part==========*/
     .test_bg {
         padding-bottom: 55px;
     }
     #testimonial_part ul {
         bottom: -40px;
     }
     /*==========price part===========*/
     #price_part {
         padding: 55px 0 45px;
     }
     .price_head {
         padding-bottom: 15px;
     }
     .price_inner h3 {
         padding: 12px 0;
     }
     .price_img h2 {
         font-size: 30px;
         padding: 15px 0;
     }
     .price_img h2 span {
         font-size: 22px;
     }
     .price_inner {
         margin: 0 0 15px;
     }
     .price_inner a {
         padding: 8px 0;
     }
     .price_inner ul {
         padding: 20px 0 10px;
     }
     .price_inner ul li {
         padding-bottom: 10px;
     }
     /*=======classes part=======*/
     #class_part {
         padding-top: 55px;
     }
     .class_days ul {
         margin-bottom: 15px;
     }
     .class_item ul li {
         padding: 20px 0;
     }
     .class_item ul li p {
         font-size: 12px;
     }
     /*=========logo part===========*/
     #logo_part {
         padding-top: 50px;
     }
     .nxt_arrow {
         right: -10px;
     }
     .pre_arrow {
         left: -10px;
     }
     /*==========footer part==========*/
     #footer_part {
         margin-top: 50px;
     }
     .footer_logo {
         padding: 30px 0;
     }
     .footer_content {
         padding: 30px 0;
     }
     .footer_content h3 {
         padding-bottom: 15px;
     }
     .flickr {
         padding-top: 30px;
     }
     .contact {
         padding-top: 30px;
     }
     .social {
         padding-left: 0;
         padding-top: 20px;
     }
     .scroll_top i {
         height: 35px;
         width: 35px;
         line-height: 35px;
     }
 }
 /*===============================
==================small device=========*/
 
 @media (min-width: 576px) and (max-width: 767.98px) {
     /*=======menu part===========*/
     .container {
         max-width: 767.98px;
     }
     header {
         top: 15px;
         background: #e23e38;
     }
     .menu_fix {
         top: 15px;
     }
     .navbar {
         padding: 5px 0;
     }
     .navbar-toggler {
         padding: 8px 15px;
     }
     .navbar-toggler i {
         color: #fff;
         padding: 5px 10px;
         border: 1px solid #fff;
         border-radius: 5px;
     }
     header .navbar-brand {
         padding: 4px 30px !important;
         top: -5px;
     }
     .menu_fix .navbar-brand {
         padding: 4px 30px !important;
         top: -5px;
     }
     header .navbar-nav .nav-item .nav-link {
         padding: 10px 0;
     }
     button:focus {
         outline: 0;
     }
     /*======banner part=======*/
     .banner_item {
         padding: 160px 0 80px;
     }
     .banner_text h3:before {
         display: none;
     }
     .banner_text h3:after {
         display: none;
     }
     .banner_text h1::before {
         display: none;
     }
     .banner_text h1::after {
         display: none;
     }
     .banner_text p:before {
         display: none;
     }
     .banner_text p:after {
         display: none;
     }
     .banner_text h3 {
         font-size: 25px;
     }
     .banner_text h1 {
         font-size: 50px;
         padding: 5px 0 10px;
     }
     .banner_text p {
         padding-bottom: 20px;
     }
     .banner_text a {
         font-size: 14px;
         padding: 8px 15px;
         margin: 5px;
     }
     #banner_part ul {
         position: absolute;
         bottom: 20px;
     }
     /*=======about part=============*/
     #about_part {
         padding: 35px 0;
     }
     .about_right p {
         padding: 12px 0;
         text-align: justify;
     }
     .about_right .p2 {
         padding-top: 0;
         padding-bottom: 15px;
     }
     /*========gallery part=========*/
     .gallery_head {
         padding-bottom: 15px;
     }
     .gallery_item {
         padding-top: 0 !important;
         padding-bottom: 30px;
     }
     .gal_img1 {
         margin: 30px 15px 30px
     }
     .gal_img1 .overlay {
         opacity: 0;
     }
     .gal_img2 {
         margin: 15px 15px 0px;
     }
     .gal_img2 .overlay {
         opacity: 0;
     }
     /*========team part======*/
     #team_part {
         padding: 35px 0 0;
     }
     .team_head {
         padding-bottom: 10px;
     }
     .team_text h3 {
         font-size: 14px;
         font-family: 'Oswald', sans-serif;
         font-weight: 400;
         color: #222222;
         padding: 10px 0 5px;
     }
     /*=======testimonial part======*/
     #testimonial_part ul {
         bottom: -30px;
     }
     .test_bg {
         margin-top: 15px;
         padding-top: 25px;
         padding-bottom: 40px;
     }
     .test_para p {
         padding-top: 5px;
         text-align: justify;
     }
     /*========price part=====*/
     #price_part {
         padding: 35px 0 20px;
     }
     .price_head {
         padding-bottom: 15px;
     }
     .price_inner h3 {
         padding: 12px 0;
     }
     .price_img h2 {
         font-size: 30px;
         padding: 15px 0;
     }
     .price_img h2 span {
         font-size: 22px;
     }
     .price_inner {
         margin: 0 0 15px;
     }
     .price_inner ul {
         padding: 20px 0 10px;
     }
     .price_inner ul li {
         padding-bottom: 10px;
     }
     /*======counter part=============*/
     #counter_part {
         padding: 20px 0;
     }
     .counter_item {
         width: 50%;
     }
     .counter_text h3 {
         font-size: 32px;
     }
     .counter_text {
         padding: 10px 0;
     }
     /*==========class part===========*/
     #class_part {
         padding-top: 35px;
     }
     .classes_head img {
         padding-bottom: 20px;
     }
     .class_days ul {
         border-bottom: none;
         margin-bottom: 20px
     }
     .class_days ul li {
         width: 16.66%;
         margin-bottom: 3px;
         border-bottom: 2px solid #e23e38;
     }
     .class_days ul li a {
         font-size: 13px;
         padding: 10px 0;
     }
     .class_item ul li {
         width: 50%;
         padding: 20px 0;
         border: 2px solid #ffffff;
     }
     .nav-tabs .nav-item {
         margin-bottom: 0;
     }
     .class_item {
         margin: ;
     }
     .class_item ul li p {
         font-size: 13px;
     }
     .class_item ul li i {
         font-size: 45px;
     }
     /*============logo part=============*/
     #logo_part {
         padding-top: 35px;
     }
     /*============footer part============*/
     #footer_part {
         margin-top: 35px;
     }
     /*========footer part============*/
     .footer_logo {
         padding: 20px 0;
     }
     .twetter {
         padding: 20px 15px;
     }
     .flickr ul li {
         width: 8.33%;
         padding: 2px;
     }
     .contact {
         padding-top: 20px;
     }
     .social {
         padding: 10px 0 0;
     }
     .footer_bottom p {
         padding: 20px 0;
     }
     /*===========chevron-up========*/
     .scroll_top i {
         font-size: 15px;
         height: 30px;
         width: 30px;
         line-height: 30px;
         right: 15px;
         bottom: 15px;
     }
 }
 /*==========================================
===============extra small device============
============================================*/
 
 @media (max-width: 575.98px) {
     /*=====menu part============*/
     header {
         background: rgba(226, 62, 56, 0.8);
         top: 15px;
     }
     header .navbar-brand {
         padding: 5px 30px !important;
         top: -5px;
         left: 17px;
     }
     .menu_fix {
         top: 10px;
         background: rgba(226, 62, 56, 0.8);
     }
     .menu_fix .navbar-brand {
         padding: 5px 30px !important;
         top: -5px;
         left: 17px;
     }
     .navbar-toggler {
         margin: 5px 0;
     }
     .navbar-toggler i {
         color: #fff;
         padding: 5px 10px;
         border: 1px solid #fff;
         border-radius: 5px;
     }
     button:focus {
         outline: 0;
     }
     /*========banner part===========*/
     .banner_item {
         padding: 140px 0 70px;
     }
     .banner_text h3:before {
         display: none;
     }
     .banner_text h3:after {
         display: none;
     }
     .banner_text h1::before {
         display: none;
     }
     .banner_text h1::after {
         display: none;
     }
     .banner_text p:before {
         display: none;
     }
     .banner_text p:after {
         display: none;
     }
     .banner_text h3 {
         font-size: 18px;
     }
     .banner_text h1 {
         font-size: 32px;
         padding: 5px 0;
     }
     .banner_text p {
         font-size: 14px;
         padding-bottom: 12px;
         line-height: 22px;
     }
     .banner_text a {
         padding: 5px 20px;
     }
     #banner_part ul {
         bottom: 15px;
     }
     #banner_part ul li button {
         height: 14px;
         width: 14px;
         margin-right: 5px;
     }
     /*=====about part=========*/
     #about_part {
         padding: 35px 0px;
     }
     .about_left {
         margin-top: 20px;
     }
     .about_right h3 {
         font-size: 22px;
     }
     .about_right p {
         padding: 12px 0;
         text-align: justify;
     }
     .about_right .p2 {
         padding: 0;
     }
     /*=====gallery part ========*/
     .gallery_item {
         padding-top: 0 !important;
         padding-bottom: 30px;
     }
     .gal_img1 {
         margin: 30px 15px 30px
     }
     .gal_img1 .overlay {
         opacity: 0;
     }
     .gal_img2 {
         margin: 15px 15px 0px;
     }
     .gal_img2 .overlay {
         opacity: 0;
     }
     /*=========team part========*/
     #team_part {
         padding: 35px 0 10px;
     }
     #team_part .draggable {
         padding-top: 25px;
     }
     .team_head {
         padding-bottom: 0;
     }
     .team_img .overlay {
         opacity: 1;
     }
     .team_main:hover .team_text {
         border: none;
     }
     .team_main:hover {
         transform: none;
     }
     .team_text p {
         visibility: visible;
     }
     /*=============testimonial part==========*/
     #testimonial_part ul {
         bottom: -25px;
     }
     #testimonial_part ul li button {
         height: 14px;
         width: 14px;
     }
     .test_bg {
         padding-bottom: 40px;
     }
     .test_para p {
         text-align: justify;
     }
     /*====pricing part======*/
     #price_part {
         padding: 35px 0 15px;
     }
     .price_inner {
         margin-bottom: 20px;
     }
     .price_inner ul {
         padding: 20px 0 10px;
     }
     .price_inner ul li {
         padding-bottom: 10px;
     }
     .price_head h3 {
         font-size: 20px;
         padding: 12px 0;
     }
     .price_img h2 {
         font-size: 30px;
         padding: 15px 0;
     }
     .price_img h2 span {
         font-size: 20px;
     }
     .price_inner a {
         padding: 5px;
     }
     /*======counter part=======*/
     .counter_text {
         padding: 15px 0
     }
     .counter_text h3 {
         font-size: 33px;
     }
     .counter_item {
         width: 50%;
     }
     /*=========classes part========*/
     #class_part {
         padding: 35px 0;
     }
     .classes_head h3 {
         font-size: 20px;
     }
     .classes_head img {
         padding-top: 5px;
         padding-bottom: 15px;
     }
     .class_days ul {
         border-bottom: none;
         margin-bottom: 15px
     }
     .class_days ul li {
         width: 33.33%;
         border-bottom: 2px solid #e23e38;
     }
     .nav-tabs .nav-item {
         margin-bottom: 0;
     }
     .class_days ul li a {
         font-size: 13px;
         padding: 10px 0;
     }
     .class_item ul li {
         width: 50%;
         padding: 20px 0;
         border: 2px solid #ffffff;
     }
     .class_item ul li p {
         font-size: 13px;
     }
     .class_item ul li i {
         font-size: 45px;
     }
     /*===========logo part======*/
     #logo_part {
         padding-top: 15px;
     }
     /*========footer part======*/
     #footer_part {
         margin-top: 30px;
     }
     .footer_logo {
         padding: 15px 0;
     }
     .times h3 {
         text-align: center;
     }
     .twetter {
         padding: 30px 0;
     }
     .twetter h3 {
         text-align: center;
     }
     .twetter ul li p {
         font-size: 13px;
         font-family: 'Open Sans', sans-serif;
         padding-left: 45px;
         color: #ddd;
         position: relative;
         text-align: left;
     }
     .twetter ul li p i {
         left: 15px;
     }
     .flickr h3 {
         text-align: center;
     }
     .contact {
         padding-top: 30px;
     }
     .contact h3 {
         text-align: center;
     }
     .social {
         text-align: center;
     }
     .footer_bottom p {
         padding: 25px 0;
     }
     /*====================chevron-up==============*/
     .scroll_top i {
         color: #ffffff;
         background: #e23e38;
         font-size: 15px;
         height: 30px;
         width: 30px;
         line-height: 30px;
         text-align: center;
         position: fixed;
         right: 10px;
         bottom: 15px;
         z-index: 9999;
     }
 }
